nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 41, 84, 0.1);
  color: var(--lapisLazuli);
  section{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  div{
    border-radius: 2rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: 1px solid var(--lapisLazuli);
    width: 40%;
    min-width: 5rem;
    display: flex;
    align-items: center;
    input{
      background: var(--white);
      color: var(--morningBlue);
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      &::placeholder{
        color: var(--palaBlue);
      }
    }
  }
  span{
    cursor: pointer;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 100%;
    transition-duration: 500ms;
    &:hover{
      transform: scale(1.05);
    }
  }
}
