:root{
  --spaceCadet: #0E2954;
  --lapisLazuli: #1F6E8C;
  --tealBlue: #2E8A99;
  --morningBlue: #84A7A1;
  --white: #ffff;
  --black: #3333;
  --royalPurple: #99DBF5;
  --palaBlue: #A7ECEE;
  --carminePink: #F24C3D;
}
